*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(104, 24, 24);
}
.container{
    max-width: 1500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/* Header */
header{
    min-height: 500px;
    background-image: url("../img/Tian_Guan_Ci_Fu-cover.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}
h1{
    font-size: 100px;
    margin-bottom: 20px;
    line-height: 1.2;
}
header > .container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.4);
}
.subtitle{
    font-size: 60px;
    font-style: italic;
    margin-top: 10px;
    padding: 50px;
}
.hobby{
    opacity: 0.8;
}
/* main */
section{
    margin-top: 50px;
}
h2{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    margin:20px
}
img{ 
    max-width:400px;
    padding: 5px;
    border: 1px solid black;
}
h4{
    font-size: 30px;
    opacity: 0.8;
    margin-bottom: 10px;
}
p{
    font-size: 20px;
}
.container-book{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.trama{
    max-width: 700px;
}
.book_title{
    font-size: 35px;
    text-transform: uppercase;
    margin-top: none;
    margin-bottom: 20px;
}
