*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
      background-color: antiquewhite;  
}
header{
    min-height: 450px;
    background-image: url("../img/aaron-burden-unsplash.jpg");
    background-size: cover;
    text-align: center;
}
h1{
    font-size: 120px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.5);
}
.subtitle{
    font-size: 60px;
    font-style: italic;
    margin-top: 10px;
    padding: 50px;
}